# OCR engine
pytesseract==0.3.10

# Image processing
Pillow==10.2.0
opencv-python-headless==4.9.0.80  # headless version for Lambda

# AWS SDK (already included in AWS Lambda, but useful for local testing)
boto3==1.34.110

# Utility for handling numpy arrays (required by OpenCV)
numpy==1.26.4

easyocr
